<h1>Edit The Camera</h1>

<%= form_for(@camera, :html => {:multipart => true}) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :brand %>
    <%= f.text_field :brand %>

    <%= f.label :details %>
    <%= f.text_area :details %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :image %>
    <%= f.cl_image_upload :image %>

    <%= f.submit %>

<% end %>