<h1><%= @camera.name %></h1>

<%= cl_image_tag @camera.image, :class => 'img' %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Name: <%= @camera.name %></h5>
    <h6 class="card-title">Brand: <%= @camera.brand.capitalize %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Details: <%= @camera.details %></h6>
    <p class="card-text">Price: <%= number_to_currency(@camera.price) %></p>

    <% if @current_user.id == @camera.user_id %>
    <%= link_to 'Edit', edit_camera_path %>
    <%= link_to 'Delete', @camera, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
    <% end %>
    
  </div> 
</div>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Comments</h5>
    <% if @camera.rates.present? %>
    <% @camera.rates.each do |rate|%>
        <%= link_to rate.name, rate %>
        <p><%= rate.comment %></p>
        <p>Created at: <%= rate.created_at.strftime '%a %B %e, %Y %H:%M %P' %></p>

        <% if @current_user.id == rate.user_id %>
            <%= link_to 'Delete', rate, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
        <% end %>

    <% end %>
<% end %>

  </div>
</div>
<%= link_to 'New Comment', new_rate_path(@camera.id) %>
<br>
<%= link_to 'Back', cameras_path %>
