<h1><%= @camera.name %></h1>

<%= cl_image_tag(@camera.image) %>
    <ul>
        <li>Name: <%= @camera.name %></li>  
        <li>Brand: <%= @camera.brand.capitalize %></li>  
        <li>Details: <%= @camera.details %></li>
        <li>Price: <%= number_to_currency(@camera.price) %></li>
    </ul>

<div>
<% if @current_user.id == @camera.user_id %>
    <%= link_to 'Edit', edit_camera_path %>
    <%= link_to 'Delete', @camera, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
    <% end %>

</div>

<div>
<% if @camera.rates.present? %>
    <% @camera.rates.each do |rate|%>
        <%= link_to rate.name, rate %>
        <p><%= rate.comment %></p>
        <p>Created at: <%= rate.created_at.strftime '%a %B %e, %Y %H:%M %P' %></p>

        <% if @current_user.id == rate.user_id %>
            <%= link_to 'Delete', rate, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
        <% end %>

    <% end %>
<% end %>
</div>

<div>
<%= link_to 'New Comment', new_rate_path(@camera.id) %>
</div>
<div>
<%= link_to 'Back', cameras_path %>
</div>

