<h1>New Comment</h1>

<%= form_for @rate do |f| %>
    <%= f.label :name, :class => "form-label" %>
    <%= f.text_field :name, :required => true, :class => "form-control form-control-sm" %>

    <%= f.label :comment, :class => "form-label" %>
    <%= f.text_area :comment, :required => true, :class => "form-control form-control-sm" %>
    <%= f.hidden_field :camera_id, value: params[:id] %>
    
    <br>
    <div>
    <%= f.submit "Post Comment", :class => "btn btn-outline-primary" %>
    </div>

<% end %>