<h1><%= @rate.name.capitalize %></h1>

<ul>
    <li>Name: <%= @rate.name.capitalize %></li>
    <li>Comment: <%= @rate.comment %></li>
</ul>

<div>
    <%= link_to 'Edit', edit_rate_path %>
    <%= link_to 'Delete', @rate, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
</div>

