<!DOCTYPE html>
<html>
  <head>
    <title>Camera House</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %>
        <% if @current_user.admin? %>
          <%= link_to 'ALL USERS', users_path %>
        <% end %>
        <%= link_to 'All Camera', '/cameras' %>
        <%= link_to 'New Camera', new_camera_path %>
        
        <%= link_to 'All Reviews', '/rates' %>
        
        <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', login_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
