<!DOCTYPE html>
<html>
  <head>
    <title>Camera House</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'HOME', root_path %>
      <% if @current_user.present? %>
        <% if @current_user.admin? %>
          <%= link_to 'ALL USERS', users_path %>
        <% end %>
        <%= link_to 'NEW CAMERA', new_camera_path %>
        <%= link_to "SIGN OUT #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'SIGN UP', new_user_path %>
        <%= link_to 'SIGN IN', login_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
